<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>University - Welcome</title>
</head>

<body>
    <h1>Welcome to the University!</h1>
    <h2 th:text="${test_attribute}" />
    <a href="/register">Register now</a>
    <div th:if="${param.successfulRegistration}">
        Your registration as a student was successful!
    </div>
    <div th:if="${not_logged_in}">
        <a href="/login"><span th:text="${not_logged_in}"></span></a>
    </div>
    <div th:unless="${not_logged_in}">
        <a href="/logout">Log out</a>
    </div>
    <div th:if="${link_add_subject}">
        <div th:if="${param.subjectAddSuccess}">The new subject was added successfully</div>
        <a href="/add-subject">Create a new subject</a>
    </div>
    <div th:if="${see_my_subjects}">
        <a href="/subjects">See my subjects</a>
    </div>
    <div th:if="${sign_up_for_a_subject}">
        <div th:if="${param.successfulSignUpForSubject}">You successfully signed up for the subject</div>
        <a href="/subject-sign-up">Sign up for a new subject</a>
    </div>
</body>

</html>