<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>University - My Subjects</title>
</head>

<body>
    <div th:if="${param.continue}"> Successfull login! </div>
    <h1>Select a subject</h1>

    <table>
        <thead>
            <tr>
                <th>Subject name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${subjects.empty}">
                <td> No subjects available! Sign up for one here! </td>
            </tr>
            <tr th:each="subject : ${subjects}">
                <td><span th:text="${subject.name}"></span></td>
            </tr>
        </tbody>
    </table>
</body>

</html>